
html  {
  background: url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80')  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  text-align: center;
  padding: 20px;
}
.flex-grid-main{
  display: flex;
  justify-content: space-between;
}
.flex-grid-main .col {
  width: 32%;
}

.button-main {
  margin-top: 30px;
  background-color: #191919;
  border: none;
  color: white;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button-main:hover{
  color: #191919;
  background-color: #c6c6c6;

}
.wrapper{
  padding: 0 5% 0 5%;
}
.img-landinpage{
  height:50%;
  margin-top: 10%;

}
@media screen and (max-width: 992px) {
  .img-landinpage{
    height:30%;
}
.p-main{
  font-size: 11px;}
.button-main{
  font-size: 11px;
  padding: 7px 15px;
  margin-top: 20px;
}
}
@media screen and (max-width: 500px) {
  .flex-grid-main .col{ 
    width: 100%;
    padding: 30% 30% 0 30%;

  }
}



